* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.top-calendar {
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
}

.btn-navigation {
	padding: 5px 20px;
	border-radius: 5px;
	background-color: lightblue;
	color: white;
	border: none;
	cursor: pointer;
}

.btn-navigation:disabled {
	background-color: #efefef;
	cursor: not-allowed;
}

.main-calendar {
	max-width: 100vw;
	height: 100vh;
}

#calendar {
	width: calc(100% - 50px);
	height: calc(100% - 50px);
	margin: 50px auto;
}

#weekday {
	width: calc(100% - 50px);
	margin: 50px auto;
}

#calendar li,#weekday li{
	float: left;
	width: calc(100% / 7);
	height: calc(100% / 7);
	border: 1px solid black;
	list-style: none;
}

#calendar li,#weekday li,#month-name {
	text-transform: capitalize;
}

.holiday {
	color: red;
}
